{{>header}}
		<section class="container warning-info">
			<div class="columns">
				{{#if success_msg}}
					<div class="column col-12 text-center success_msg">{{success_msg}}</div>
				{{/if}}
				{{#if error_msg}}
					<div class="column col-12 text-center error_msg">{{error_msg}}</div>
				{{/if}}
				{{#if error}}
					<div class="column col-12 text-center error">{{error}}</div>
				{{/if}}
				{{#if errors}}
		      {{#each errors}}
		        <div class="column col-12 text-center error">{{msg}}</div>
		      {{/each}}
				{{/if}}
      </div>
		</section>
		<section class="container">
			{{{body}}}
		</section>
{{>footer}}
