{{>header}}
<header class="header clearfix">
	<div class="header-left float-left clearfix">
		<div class="logo float-left">
			Teahouse
		</div>
		<div id="setup" class="setup float-right cursor with-tooltip" data-tooltip="快速设置">
			<i class="fa fa-cog" aria-hidden="true"></i>
		</div>
	</div>
	<div class="header-right clearfix">
		<div class="search float-left">
			<input class="form-input input-sm" type="text" placeholder="搜索关键词">
		</div>
		<div class="account float-right clearfix">
			<div id="bell" class="bell float-left cursor with-tooltip" data-tooltip="消息提醒">
				<i class="fa fa-bell-o" aria-hidden="true"></i>
				<span class="redDot"></span>
			</div>
			<div id="avatarBox" class="avatarBox float-left cursor">
				<div class="avatarBtn">
					<figure class="avatar avatar-sm">
						<img src="https://secure.gravatar.com/avatar/a40459cbaf7d814802fdf2fa4a8cdcbd?s=52" />
					</figure>
					<i class="fa fa-caret-down" aria-hidden="true"></i>
				</div>
				<ul class="avatarMenu menu">
					<li class="menu-item">
						<a href="/profile"><i class="fa fa-cogs" aria-hidden="true"></i> 设置中心</a>
					</li>
					<li class="menu-item">
						<a href="/account/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> 退出</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</header>

<aside class="aside clearfix">
	<div class="main-menu float-left">
		<ul class="main-menu-list">
			{{#each base.menu}}
				<li>
					<a href="{{to}}">
						<div class="main-menu-icon">
							<i class="{{icon}}" aria-hidden="true"></i>
						</div>
						<div class="main-menu-text">{{title}}</div>
					</a>
				</li>
			{{/each}}
		</ul>
	</div>
	<div class="sub-menu float-left">
		<ul class="sub-menu-list">
			{{#each base.menu}}
				<li class="sub-menu-item">
					<ul>
						{{#each this.subMunu}}
							<li>
								<a href="{{to}}">{{title}}</a>
							</li>
						{{/each}}
					</ul>
				</li>
			{{/each}}
		</ul>
	</div>
</aside>

<section class="wrap clearfix">
	<ul class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="#">
            Home
        </a>
		</li>
		<li class="breadcrumb-item">
			<a href="#">
            Profile
        </a>
		</li>
		<li class="breadcrumb-item">
			<a href="#">
            Change avatar
        </a>
		</li>
	</ul>

	{{{body}}}
</section>

{{>footer}}
